Kodu çalıştırmak için gerekli komutlar

1.sudo apt-get update
2.sudo apt-get install python3
3.sudo apt-get install python3-pip
4.pip3 install requests
5.pip3 install aiohttp prettytable 6.pyfiglet dnspython whois

7.sonra tool u kurun
8.cd tool adı
9.chmod +x tool adı
10.python3 tool adı
